In [1]:
import pandas as pd

In [36]:
train_data = pd.read_csv('./train.csv')
test_data = pd.read_csv('./test.csv')

f'shape of train - {train_data.shape}, test - {test_data.shape}'
p_id = test_data["Product_id"]

In [3]:
train_data.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6368 non-null   object
 1   Stall_no          6363 non-null   float64
 2   instock_date      6368 non-null   object
 3   Market_Category   6368 non-null   int64
 4   Customer_name     6157 non-null   object
 5   Loyalty_customer  6368 non-null   object
 6   Product_Category  6368 non-null   object
 7   Grade             6368 non-null   int64
 8   Demand            6368 non-null   int64
 9   Discount_avail    6330 non-null   float64
 10  charges_1         6170 non-null   float64
 11  charges_2 (%)     6163 non-null   float64
 12  Minimum_price     6330 non-null   float64
 13  Maximum_price     6025 non-null   float64
 14  Selling_Price     6327 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 746.4+ KB

In [5]:
train_data.describe()

,Stall_no,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
count,6363.000000,6368.000000,6368.000000,6368.000000,6330.000000,6170.000000,6163.000000,6330.000000,6025.000000,6327.000000
mean,25.309445,199.340609,0.643687,50.921168,0.140442,264.514100,10.146195,3531.349763,6432.545892,4563.242592
std,14.328980,170.275570,1.025092,29.091922,0.347473,124.483056,4.318339,2194.729604,3716.177364,2979.102408
min,1.000000,0.000000,0.000000,1.000000,0.000000,100.000000,1.000000,1.000000,404.000000,-6062.470000
25%,13.000000,55.000000,0.000000,26.000000,0.000000,163.000000,7.000000,1879.250000,3918.000000,2450.005280
50%,25.000000,132.000000,0.000000,51.000000,0.000000,252.000000,10.000000,3157.500000,5634.000000,4210.384640
75%,37.000000,403.000000,2.000000,76.000000,0.000000,314.000000,14.000000,4697.000000,8126.000000,6167.643252
max,50.000000,471.000000,3.000000,100.000000,1.000000,649.000000,17.000000,17580.000000,58812.000000,22638.325941

In [6]:
train_data = train_data.drop(columns = ['Product_id','instock_date'])

In [7]:
print("Nan in train data -", train_data.isna().sum())
print("Nan in test data -", test_data.isna().sum())

Nan in train data - Stall_no              5
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64
Nan in test data - Product_id           0
Stall_no             1
instock_date         0
Market_Category      0
Customer_name       53
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
dtype: int64

#### Columns having nan values are - Stall_no(float), Customer_name(object), Discount_avail(float), charges_1(float), charges_2(float), minimum_price(float), maximum_price(float) and there are some values missing in selling price(y). Its better to remove those rows. As if we impute also then it can harm our model accuracy.

In [8]:
train_data.head()

,Stall_no,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,37.0,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,38.0,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,9.0,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,50.0,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,7.0,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [9]:
train_data = train_data.dropna(subset=['Selling_Price'])

In [10]:
print("Nan in train data -", train_data.isna().sum())
print("Nan in test data -", test_data.isna().sum())

Nan in train data - Stall_no              5
Market_Category       0
Customer_name       207
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       37
charges_1           198
charges_2 (%)       204
Minimum_price        38
Maximum_price       341
Selling_Price         0
dtype: int64
Nan in test data - Product_id           0
Stall_no             1
instock_date         0
Market_Category      0
Customer_name       53
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
dtype: int64

In [11]:
type(train_data['charges_1'].tolist())
for col in train_data.columns:
    print(train_data[col].dtype)

float64
int64
object
object
object
int64
int64
float64
float64
float64
float64
float64
float64

#### Now imputing the categorical and numerical features :
 1. Categorical - Maimum occurence.
 2. Numerical - Median value

In [13]:
import numpy as np
for col in train_data.columns:
    if train_data[col].dtype == 'float64' or train_data[col].dtype == 'int64':
        train_data[col].fillna(np.nanmean(train_data[col].values), inplace=True)
    else:
        train_data[col].fillna(train_data[col].value_counts().keys()[0], inplace=True)

In [14]:
print("Nan in train data -", train_data.isna().sum())
# print("Nan in test data -", test_data.isna().sum())

Nan in train data - Stall_no            0
Market_Category     0
Customer_name       0
Loyalty_customer    0
Product_Category    0
Grade               0
Demand              0
Discount_avail      0
charges_1           0
charges_2 (%)       0
Minimum_price       0
Maximum_price       0
Selling_Price       0
dtype: int64

#### We can see there is no NAN value, so we can proceed with changing categorical values to numerical

In [15]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

for col in train_data.columns:
    if train_data[col].dtype == 'object':
        lbl_enc = LabelEncoder()
        lbl_enc.fit(train_data[col].values)
        train_data[col] = lbl_enc.transform(train_data[col].values.tolist())

In [16]:
train_data.head()
print(train_data.shape)

(6327, 13)

#### Removing negative values

In [17]:
train_data = train_data[train_data[train_data.columns[-1]] > 0]
train_data.shape

(6313, 13)

In [18]:
###Checking if it has any negative value
(train_data[train_data.columns[-1]] < 0).values.any()

False

In [19]:
from sklearn.linear_model import LinearRegression

X = train_data[train_data.columns[:-1]]
y = train_data[train_data.columns[-1]]

#### Applying regression without normalizing data, train-test split

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#### Comparing multiple model together

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import StackingRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_squared_error

In [22]:
reg = {
"LinearRegression": LinearRegression(),
"KNeighborsRegressor":KNeighborsRegressor(n_neighbors=2),
"AdaBoostRegressor":AdaBoostRegressor(random_state=0, n_estimators=100),
"Ridge": Ridge(alpha=1.0),
"ElasticNet":ElasticNet(random_state=0),
"GradientBoostingRegressor":GradientBoostingRegressor(random_state=0),
"DecisionTreeRegressor": DecisionTreeRegressor(),
"ExtraTreesRegressor": ExtraTreesRegressor(n_jobs=-1),
"RandomForestRegressor": RandomForestRegressor(n_jobs=-1),
"XGBRegressor":xgboost.XGBRegressor(n_jobs=-1)
}

In [23]:
from sklearn.metrics import mean_squared_error, r2_score
dic =  {"Model":[],"R2_Train":[],"RMSE_Train":[]}
for name, model in reg.items():   
    model.fit(X_train, y_train)
    y_train_pre = model.predict(X_test)
    r2 = r2_score(y_test, y_train_pre)
    rmse  = np.sqrt(mean_squared_error(y_test, y_train_pre))
    print("--------------------------------------------------------------")
    print("Model:", name)
    print("-----Training Data Evalution-----")
    print("R2 Value: ", r2_score(y_test, y_train_pre))
    print("RMSE: ",np.sqrt(mean_squared_error(y_test, y_train_pre)))
    dic["Model"].append(name)
    dic["R2_Train"].append(r2)
    dic["RMSE_Train"].append(rmse)

--------------------------------------------------------------
Model: LinearRegression
-----Training Data Evalution-----
R2 Value:  0.9062694419187347
RMSE:  897.924797572086
--------------------------------------------------------------
Model: KNeighborsRegressor
-----Training Data Evalution-----
R2 Value:  0.45784469039736686
RMSE:  2159.5398460392703
--------------------------------------------------------------
Model: AdaBoostRegressor
-----Training Data Evalution-----
R2 Value:  0.8850697368971701
RMSE:  994.2979968154984
--------------------------------------------------------------
Model: Ridge
-----Training Data Evalution-----
R2 Value:  0.9062311232668373
RMSE:  898.1083223083168
--------------------------------------------------------------
Model: ElasticNet
-----Training Data Evalution-----
R2 Value:  0.713841935883214
RMSE:  1568.9256330716287
--------------------------------------------------------------
Model: GradientBoostingRegressor
-----Training Data Evalution-----
R2 Value:  0.9857939777711655
RMSE:  349.5711706855105
--------------------------------------------------------------
Model: DecisionTreeRegressor
-----Training Data Evalution-----
R2 Value:  0.977248932576038
RMSE:  442.38485726643404
--------------------------------------------------------------
Model: ExtraTreesRegressor
-----Training Data Evalution-----
R2 Value:  0.9904209950077701
RMSE:  287.0513302425703
--------------------------------------------------------------
Model: RandomForestRegressor
-----Training Data Evalution-----
R2 Value:  0.9872376874190784
RMSE:  331.3325116736165
--------------------------------------------------------------
Model: XGBRegressor
-----Training Data Evalution-----
R2 Value:  0.9890314766259348
RMSE:  307.16621521260726

In [24]:
f_table = pd.DataFrame(dic)
f_table.sort_values('RMSE_Train', axis=0, ascending=True)

                       Model  R2_Train   RMSE_Train
7        ExtraTreesRegressor  0.990421   287.051330
9               XGBRegressor  0.989031   307.166215
8      RandomForestRegressor  0.987238   331.332512
5  GradientBoostingRegressor  0.985794   349.571171
6      DecisionTreeRegressor  0.977249   442.384857
0           LinearRegression  0.906269   897.924798
3                      Ridge  0.906231   898.108322
2          AdaBoostRegressor  0.885070   994.297997
4                 ElasticNet  0.713842  1568.925633
1        KNeighborsRegressor  0.457845  2159.539846

#### Now we can analyze model seperately
1. RandomForrest

In [25]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(n_jobs=-1)
rf_model.fit(X_train, y_train)

RandomForestRegressor(n_jobs=-1)

In [26]:
pred_rf = rf_model.predict(X_test)
print(mean_squared_error(y_test, pred_rf)**0.5)

333.6680602748366

#### Checking feature importance

In [27]:
print(rf_model.feature_importances_)
importance = pd.DataFrame({'Features': X_train.columns.values.tolist(), 'importance': rf_model.feature_importances_})

[6.16127177e-04 7.12080935e-04 1.05892038e-03 1.21873574e-04
 4.18188585e-04 2.30528501e-03 7.62813648e-04 2.94925753e-01
 1.84133390e-03 5.39329865e-04 1.62990238e-01 5.33708056e-01]

In [28]:
importance.sort_values('importance', axis = 0, ascending=False)

            Features  importance
11     Maximum_price    0.533708
7     Discount_avail    0.294926
10     Minimum_price    0.162990
5              Grade    0.002305
8          charges_1    0.001841
2      Customer_name    0.001059
6             Demand    0.000763
1    Market_Category    0.000712
0           Stall_no    0.000616
9      charges_2 (%)    0.000539
4   Product_Category    0.000418
3   Loyalty_customer    0.000122

#### As we can see that some features are much more importance, may be if we apply feature selection in one of the above methods. It can give better results.Selecting important features using Recurrsive feature elimination

In [29]:
from sklearn.feature_selection import RFE

rfe = RFE(estimator=RandomForestRegressor(), n_features_to_select=5)
rfe.fit(X_train, y_train)

RFE(estimator=RandomForestRegressor(), n_features_to_select=5)

In [30]:
features2 = X_train.columns[rfe.get_support()]
features2

Index(['Grade', 'Discount_avail', 'charges_1', 'Minimum_price',
       'Maximum_price'],
      dtype='object')

In [31]:
x_train_rfe = rfe.transform(X_train)
x_test_rfe = rfe.transform(X_test)
clf = RandomForestRegressor()
clf.fit(x_train_rfe,y_train)
y_pred_rfe =clf.predict(x_test_rfe)
from sklearn.metrics import mean_squared_error 
print(mean_squared_error(y_test, y_pred_rfe)**0.5)

324.18079093552694

#### Making predictions, Need to preprocess test data as we processed train_data

In [37]:
print("Nan in test data before -", test_data.isna().sum())
for col in test_data.columns:
    if test_data[col].dtype == 'float64' or test_data[col].dtype == 'int64':
        test_data[col].fillna(np.nanmean(test_data[col].values), inplace=True)
    else:
        test_data[col].fillna(test_data[col].value_counts().keys()[0], inplace=True)
print("Nan in test data after -", test_data.isna().sum())

Nan in test data before - Product_id           0
Stall_no             1
instock_date         0
Market_Category      0
Customer_name       53
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
dtype: int64
Nan in test data after - Product_id          0
Stall_no            0
instock_date        0
Market_Category     0
Customer_name       0
Loyalty_customer    0
Product_Category    0
Grade               0
Demand              0
Discount_avail      0
charges_1           0
charges_2 (%)       0
Minimum_price       0
Maximum_price       0
dtype: int64

In [38]:
## As there objects are present, we need to change into categorical values
print("Before - ",test_data.info())
from sklearn.preprocessing import StandardScaler, LabelEncoder
for col in test_data.columns:
    if test_data[col].dtype == 'object':
        lbl_enc = LabelEncoder()
        lbl_enc.fit(test_data[col].values)
        test_data[col] = lbl_enc.transform(test_data[col].values.tolist())
    
print("After -", test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        3430 non-null   object
 1   Stall_no          3430 non-null   float64
 2   instock_date      3430 non-null   object
 3   Market_Category   3430 non-null   int64
 4   Customer_name     3430 non-null   object
 5   Loyalty_customer  3430 non-null   object
 6   Product_Category  3430 non-null   object
 7   Grade             3430 non-null   int64
 8   Demand            3430 non-null   int64
 9   Discount_avail    3430 non-null   int64
 10  charges_1         3430 non-null   float64
 11  charges_2 (%)     3430 non-null   float64
 12  Minimum_price     3430 non-null   float64
 13  Maximum_price     3430 non-null   int64
dtypes: float64(4), int64(5), object(5)
memory usage: 375.3+ KB
Before -  None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        3430 non-null   int32
 1   Stall_no          3430 non-null   float64
 2   instock_date      3430 non-null   int32
 3   Market_Category   3430 non-null   int64
 4   Customer_name     3430 non-null   int32
 5   Loyalty_customer  3430 non-null   int32
 6   Product_Category  3430 non-null   int32
 7   Grade             3430 non-null   int64
 8   Demand            3430 non-null   int64
 9   Discount_avail    3430 non-null   int64
 10  charges_1         3430 non-null   float64
 11  charges_2 (%)     3430 non-null   float64
 12  Minimum_price     3430 non-null   float64
 13  Maximum_price     3430 non-null   int64
dtypes: float64(4), int32(5), int64(5)
memory usage: 308.3 KB
After - None

In [40]:
test_data = test_data.drop(columns = ['Product_id','instock_date'])
final_prediction = rf_model.predict(test_data)

In [41]:
pred_upd = pd.concat([p_id, pd.DataFrame(final_prediction)], axis=1)

In [45]:
pred_upd.to_csv("sample.csv", index=False)

False